body{
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
.saw {
    color:gray;
}
#active {
    color: red;
}
h1 {
     font-size: 300%;
     text-align: center;
     border-bottom: 1px;
     margin: 0;
     padding: 20px
}
#grid #list{
    border-right: 1px solid gray;
    width: 180px;
    margin: 0;
    padding: 5px
}
#grid{
    display: grid;
    grid-template-columns: 200px 1fr;
}
#grid #article{
    padding-left: 20px;
}

@media(max-width: 800px){
    #grid #list{
    border-right: none;
    }
    #grid{
        display: block;
    }
    h1 {
     font-size: 200%;
     border-bottom: none;
    }
}